#roastChart {
  width: 100em;
  height: 100em;
}

#controlLogs {
  display: flex;
}

#recordTelemetry {
  min-width: 100%;
}

body {
  background-color: #F0F3F5;
}

.button-custom {
  background-color: black;
  border-color: black;
}